* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-column {
    flex-direction: column;
}

html {
    height: 100vh;
}

.pt-sans {
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #d9dcd6;
}

.header {
    /* position: fixed;
    top: 0; */
    height: 12vh;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(242 140 45);
    border-bottom: solid 3px #b05737;
    color: white;
}

.header-left {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    font-size: 35px;
    font-weight: 700;
}

.header-left img {
    margin-right: 10px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.header-right a {
    color: white;
    font-weight: 700;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main {
    top: 200px;
    background-color: rgb(77 58 49);
    height: fit-content;
    color: white;
}

.main-section {
    padding: 2%;
}

.main-section-header {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 2%;
}

.weat-img {
    width: 100%;
    border-bottom: solid 3px #b05737;
}

.work-row {
    justify-content: center;
    align-items: center;
}

.large-work {
    height: 600px;
    width: 80%;
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer {
    border: solid 2px blue;
}

/* starting on css */

/* .header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}



.benefit-child {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-child h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-child img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.navbar-link {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.navbar-link img {
    max-height: 200px;
}


.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
} */