* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-column {
    flex-direction: column;
}

html {
    height: 100vh;
}

.pt-sans {
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #d9dcd6;
}

.header {
    /* position: fixed;
    top: 0; */
    height: 12vh;
    padding: 2%;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(242 140 45);
    border-bottom: solid 3px #b05737;
    color: white;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    font-size: 35px;
    font-weight: 700;
}

.header-left img {
    margin-right: 10px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.header-right a {
    color: white;
    font-weight: 700;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main {
    top: 200px;
    background-color: rgb(77 58 49);
    height: fit-content;
    color: white;
}

.main-section {
    padding: 2%;
    width: 100%;
}

.main-section-header {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 2%;
}

.wheat-img {
    width: 100%;
    border-bottom: solid 3px #b05737;
}


.app-wrap {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.large-work-row {
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    width: 80%;
}

.large-work {
    height: 600px;
    width: 100%;
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
}

.large-work a {
    text-decoration: none;
}

.small-work-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    width: 80%; 
}

.node-work {
    height: 250px;
    width: 48%;
    background-image: url(../images/node-pic.png);
    background-size: cover;
    background-position: center;
}

.react-work {
    height: 250px;
    width: 48%;
    background-image: url(../images/react-img.png);
    background-size: cover;
    background-position: center;
}
.node-work a {
    text-decoration: none;
}

.overlay {
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.overlay h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 3%;
    color: white;
}

.node-overlay h2 {
    color: black;
}

.footer {
    border: solid 2px blue;
}